<section
  class="mx-auto min-h-[92vh] flex justify-center items-center gap-0 px-[5%] pb-15 pt-20 max-lg:min-h-auto max-md:gap-12 max-lg:pt-12"
>
  <div class="flex flex-col items-center">
    <!-- <div
        class="mb-8 inline-flex animate-[fade-up_0.6s_ease_both] items-center gap-2 rounded-full border border-[rgba(126,203,69,0.25)] bg-fygate-green-dim px-4 py-1.5 text-[0.78rem] font-semibold uppercase tracking-[0.08em] text-fygate-green-light before:h-1.5 before:w-1.5 before:rounded-full before:bg-fygate-green before:content-[''] before:animate-[pulse-dot_1.8s_ease-in-out_infinite]"
      >
        Food Technology · GATE 2027
      </div> -->
    <h1
      class="mb-6 animate-[fade-up_0.6s_0.1s_ease_both] font-serif text-[clamp(2.6rem,4.5vw,4.2rem)] leading-[1.05] font-black text-center tracking-[-0.04em]"
    >
      <span class="inline-block relative text-fygate-cream">Crack GATE</span>
      <em class="block italic font-bold text-fygate-green">with a plan,</em>
      not just prep.
    </h1>
    <p
      class="mb-10 text-center max-w-120 animate-[fade-up_0.6s_0.2s_ease_both] leading-[1.7] font-light text-fygate-text-dim"
    >
      fyGATE is a structured, mentor-led coaching program designed specifically
      for Food Technology students — with video lectures, module-based
      scheduling, PYQs, mock tests, and 1-on-1 mentorship all in one place.
    </p>
    <div
      class="flex items-center justify-center animate-[fade-up_0.6s_0.3s_ease_both] flex-wrap gap-4"
    >
      <a
        href="https://youtube.com/playlist?list=PLU1Lc2In5F87XqV6QDDpfdBkbkUthu7oF"
        target="_blank"
        class="inline-flex items-center justify-center max-md:min-w-80 h-13 gap-2 rounded-full bg-fygate-green px-6 text-[0.95rem] font-bold text-fygate-bg transition hover:-translate-y-0.5 hover:bg-fygate-green-light hover:shadow-[0_12px_40px_rgba(126,203,69,0.3)]"
      >
        <span class="text-3xl font-light font-icons"> play_circle </span>
        Watch Demo Videos
      </a>
      <a
        href="#cta"
        class="inline-flex max-md:min-w-80 items-center justify-center text-center h-13 gap-2 rounded-full border border-fygate-border px-7.5 py-3.5 text-[0.95rem] font-medium text-fygate-text transition hover:border-fygate-green hover:text-fygate-green-light"
      >
        Notify Me for Upcoming Batch <span
          class="text-3xl font-light font-icons"
        >
          arrow_downward
        </span>
      </a>
    </div>
  </div>
</section>
