<nav
  class="flex sticky top-0 justify-between items-center px-6 py-5 border-b backdrop-blur-xl z-100 border-brand-border bg-brand-contrast md:px-10 lg:px-16"
>
  <div class="text-2xl font-black font-google-sans text-brand-primary">
    fy<span class="text-brand-base">GATE</span>.
  </div>
  <ul class="hidden list-none gap-8 max-[900px]:hidden md:flex">
    <li>
      <a
        href="#how"
        class="text-sm font-medium tracking-[0.02em] text-brand-base no-underline transition-colors duration-200 hover:text-brand-primary-soft"
        >How It Works</a
      >
    </li>
    <li>
      <a
        href="#modules"
        class="text-sm font-medium tracking-[0.02em] text-brand-base no-underline transition-colors duration-200 hover:text-brand-primary-soft"
        >Modules</a
      >
    </li>
    <li>
      <a
        href="#videos"
        class="text-sm font-medium tracking-[0.02em] text-brand-base no-underline transition-colors duration-200 hover:text-brand-primary-soft"
        >Demo Videos</a
      >
    </li>
    <!-- <li>
      <a
        href="#support"
        class="text-sm font-medium tracking-[0.02em] text-brand-base no-underline transition-colors duration-200 hover:text-brand-primary-soft"
        >Support</a
      >
    </li> -->
  </ul>
  <a
    href="#cta"
    class="py-2.5 text-sm font-semibold no-underline rounded-full transition bg-brand-primary px-5.5 text-brand-contrast hover:-translate-y-px hover:bg-brand-primary-soft"
  >
    Get Notified
  </a>
</nav>
